services:
  analytics:
    networks:
      - financer-services_database
      - financer-transactions_transactions-network
      - financer-services_back-end
    external_links:
      - financer-services-postgres-1:postgres
    pull_policy: build
    restart: unless-stopped
    build:
      context: .
    ports:
      - "1234:1234"
    env_file:
      - stack.env
    healthcheck:
      test: ["CMD-SHELL", "curl -s -f http://localhost:1234/healthcheck > /dev/null || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

networks:
  financer-services_database:
    external: true
  financer-transactions_transactions-network:
    external: true
  financer-services_back-end:
    external: true
